.amount_button_body {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

.amount {
  font-size: 1.75rem;
  margin: 0;
}

.amount_button {
  border: none;
  padding: 0.5em;
  background: none;
  cursor: pointer;
}

.amount_button svg {
  font-size: 1rem;
}

@media (min-width: 700px) {
  .amount {
    font-size: 3rem;
  }

  .amount_button svg {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px){
  .amount {
    font-size: 1.25rem;
  }

  .amount_button svg{
    font-size: 0.75rem;
  }
}
