.margins{
  margin-bottom: 1em;
}

.margins h5{
  margin-bottom: 1em;
}

.filter_container {
  margin-top: 1em;
}

.filter_search_options input {
  padding: 0.5em;
  outline: #fb1;
  border: 1px solid #fb1;
}

.filter_category_options {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.filter_category_options button {
  border: none;
  background: none;
  font-size: 1rem;
  margin-bottom: 0.25em;
  letter-spacing: 1px;
  color: var(--blue-secondary);
  cursor: pointer;
  text-transform: capitalize;
}

.filter_category_options button.activex {
  border-bottom: 1px solid var(--blue-secondary);
}

.btn_inactive {
  display: inline-block;
  width: 1rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #222;
  margin-right: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.filter_color_options {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all_color_btn {
  font-size: 1rem;
  border: none;
  background: none;
}

.all_color_btn_active {
  font-size: 1rem;
  border: none;
  background: none;
  border-bottom: 1px solid var(--blue-secondary);
}

.color_btn {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #222;
  margin-right: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color_btn svg {
  font-size: 0.75rem;
  color: white;
}

.color_btn .color_active {
  opacity: 1;
}

.color_buttons_options {
  display: flex;
  align-items: center;
  gap: 0.25em;
  text-transform: capitalize;
}

.filter_company_options select {
  border: none;
  padding: 0.25em;
  font-size: 1em;
  text-transform: capitalize;
}

.clear_filters_btn {
  text-transform: capitalize;
  padding: 0.5em 1em;
  background: #fb1;
  color: white;
  border-radius: 0.25em;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
}

.clear_filters_btn:hover {
  background: var(--blue-secondary);
}

@media (min-width: 760px){
  .filter_container{
    position: sticky;
    top: 1em;
  }
}